.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);

    .main-container {
        margin: 10px;
        background-color: #fff;
        width: 50%;
        height: 30%;
        display: flex;
        justify-content: center;
        padding: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

        .input-class {
            display: flex;
            justify-content: space-between;
            margin: 15px;

        }

        .btn-submit {
            text-align: center;
            margin: 20px;

          
        }
    }

}