.subject-btns{
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
    div{
        width: 35vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}
