app-root {

    padding: 10px;
    margin: 10px;
    display: block;
    height: calc(100vh - 50px);
    background: #EEAECA;
    width: calc(100vw - 50px);
    border: 5px solid #6d85f5;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

    button {
        margin: 2px;
        padding: 3px;
        border-radius: 5px;
        background-color: #bab6dd;
        border: 1px solid #3a89ef;
        width: 85px;
        height: 35px;
        cursor: pointer;
    }
    app-observable-demo{
    text-align: center;
    width: 100%;
    display: inline-block;
    .valueHolder{
    border: 1px solid;
    width: 15px;
    height: 15px;
    display: inline-block;

}
}
}