<div>Highlight example
    <p [appHighlight] = "color" defaultColor="violet" >Highlight me!</p>
    Green:<input type="radio" name="colors" (click)="changeColor('green')">
    Yellow:<input type="radio" name="colors" (click)="changeColor('yellow')">
    Cyan:<input type="radio" name="colors" (click)="changeColor('cyan')">

</div>
<div *ngIf="common.userRole !=='admin'">Conic gradient example
    <input type="range" [(ngModel)]="rangeVal" (ngModelChange)="OnInputRangeChange()">
    <div id="piechart"></div>
</div>
