#piechart{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: conic-gradient(green 10%,lightgreen 0);
}
.component-container{
    text-align: center;
    margin: 50px;
}